a {
  text-decoration: none; }

.preloader_container {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  .preloader_container .preloader_img {
    max-width: 100%;
    width: 10%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

.app-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header" "nav content" "footer footer";
  grid-template-rows: 120px 1fr 50px;
  grid-template-columns: 2fr 10fr; }
  .app-wrapper .header {
    grid-area: header;
    background: #feffc2;
    text-align: center; }
    .app-wrapper .header .logo {
      max-width: 120px; }
  .app-wrapper .nav {
    background: #26dfff;
    grid-area: nav; }
    .app-wrapper .nav .item a.active,
    .app-wrapper .nav .item a:hover {
      color: white;
      padding-left: 10px; }
    .app-wrapper .nav .item a {
      color: red;
      transition: .3s ease-in-out; }
    .app-wrapper .nav .friendsBlock {
      display: flex;
      flex-direction: row;
      padding: 0 10px; }
      .app-wrapper .nav .friendsBlock .friend_item {
        list-style: none;
        text-align: center;
        padding: 0 5px; }
        .app-wrapper .nav .friendsBlock .friend_item img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 100px;
          border: 4px solid #fff;
          margin: auto; }
  .app-wrapper .content {
    grid-area: content;
    background: green;
    display: block;
    overflow: hidden;
    height: 81.9vh;
    overflow-y: scroll; }
    .app-wrapper .content .profile .substrate-image {
      width: 100%;
      height: 315px;
      display: inline-block;
      position: relative;
      background-image: url("../img/download.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .app-wrapper .content .profile .substrate-image:after {
        content: '';
        background: linear-gradient(rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0.53));
        height: 100%;
        width: 100%;
        position: absolute; }
      .app-wrapper .content .profile .substrate-image .user-image {
        width: 200px;
        height: 200px;
        position: absolute;
        display: inline-block;
        object-fit: cover;
        border-radius: 100px;
        border: 4px solid #fff;
        left: 50px;
        bottom: -50px;
        z-index: 10; }
      .app-wrapper .content .profile .substrate-image .name-user {
        position: absolute;
        z-index: 10;
        left: 280px;
        bottom: 30px;
        font-size: 25px;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 3px;
        text-shadow: 0px 0px 4px #000; }
    .app-wrapper .content .profile .PostBlock {
      padding: 10px; }
      .app-wrapper .content .profile .PostBlock .MyPosts {
        padding: 20px 20px;
        margin: 0 20px 60px;
        border: 1px solid #ffffff; }
        .app-wrapper .content .profile .PostBlock .MyPosts .item {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #ffffff;
          position: relative; }
          .app-wrapper .content .profile .PostBlock .MyPosts .item:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0; }
          .app-wrapper .content .profile .PostBlock .MyPosts .item .user-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 100px;
            border: 4px solid #fff;
            margin-right: 15px; }
          .app-wrapper .content .profile .PostBlock .MyPosts .item .btn_like {
            position: absolute;
            right: 30px;
            bottom: 5px; }
            .app-wrapper .content .profile .PostBlock .MyPosts .item .btn_like button {
              color: #fff;
              border: 0;
              cursor: pointer;
              background: red; }
            .app-wrapper .content .profile .PostBlock .MyPosts .item .btn_like span {
              color: #ff0026;
              border: 1px solid #ff0300;
              width: auto;
              min-width: 33px;
              height: 25px;
              display: inline-block;
              padding: 3px 10px;
              text-align: center;
              line-height: 25px;
              margin-left: 6px;
              background: #ffd333;
              font-weight: bold; }
    .app-wrapper .content .dialogs {
      display: grid;
      grid-template-columns: 3fr 9fr;
      height: 100%; }
      .app-wrapper .content .dialogs .dialogs__block {
        padding: 10px 0; }
        .app-wrapper .content .dialogs .dialogs__block ul {
          padding: 0; }
          .app-wrapper .content .dialogs .dialogs__block ul .dialogs__block__item {
            list-style: none; }
            .app-wrapper .content .dialogs .dialogs__block ul .dialogs__block__item a {
              color: #1ed2c1;
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 10px;
              position: relative;
              padding-left: 10px; }
              .app-wrapper .content .dialogs .dialogs__block ul .dialogs__block__item a img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 100px;
                border: 4px solid #fff;
                margin-right: 15px; }
              .app-wrapper .content .dialogs .dialogs__block ul .dialogs__block__item a.active {
                color: #fff; }
                .app-wrapper .content .dialogs .dialogs__block ul .dialogs__block__item a.active:after {
                  content: '';
                  position: absolute;
                  right: 0;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 15px 20px 15px 0;
                  border-color: transparent #fff transparent transparent; }
      .app-wrapper .content .dialogs .message__block {
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        margin: 7px 10px 7px 0; }
        .app-wrapper .content .dialogs .message__block .message__block__item span {
          color: #000;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px 10px; }
          .app-wrapper .content .dialogs .message__block .message__block__item span.message {
            max-width: 100%;
            justify-content: flex-start;
            padding-right: 50%; }
            .app-wrapper .content .dialogs .message__block .message__block__item span.message img {
              min-width: 50px;
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 100px;
              border: 4px solid #BFBFBF;
              margin-right: 10px; }
          .app-wrapper .content .dialogs .message__block .message__block__item span.reply {
            justify-content: flex-end;
            background-image: linear-gradient(to right, #ffffff, #e9e9e9, #d4d4d4, #bfbfbf, #ababab);
            padding-left: 50%;
            max-width: 100%; }
            .app-wrapper .content .dialogs .message__block .message__block__item span.reply img {
              min-width: 50px;
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 100px;
              border: 4px solid #fff;
              margin-left: 10px; }
        .app-wrapper .content .dialogs .message__block .replyBlock #reply {
          width: 100%;
          resize: none;
          padding: 0;
          margin: 0;
          outline: 0;
          display: inline-block; }
    .app-wrapper .content .friendContent ul {
      padding: 0;
      column-count: 4; }
      .app-wrapper .content .friendContent ul .friend_item {
        list-style: none;
        text-align: center; }
        .app-wrapper .content .friendContent ul .friend_item img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 100px;
          border: 4px solid #fff;
          margin: auto; }
  .app-wrapper .footer {
    grid-area: footer;
    background: #4d4d4d;
    text-align: center;
    padding: 15px 0; }
    .app-wrapper .footer a {
      color: #28ff04; }

.users-content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .users-content .pagination {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(25, 1fr);
    text-align: center;
    margin-bottom: 20px; }
    .users-content .pagination span {
      background: white;
      font-size: 18px;
      cursor: pointer;
      padding: 3px;
      transition: .3s ease-in-out; }
      .users-content .pagination span.page_selected {
        color: #fff;
        background: #b30000; }
  .users-content .users-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    width: 565px; }
    .users-content .users-item .left-block {
      text-align: center; }
      .users-content .users-item .left-block .users-iamge {
        width: 150px;
        height: 150px;
        border: 2px solid red;
        border-radius: 100px;
        overflow: hidden;
        background: #fff; }
        .users-content .users-item .left-block .users-iamge img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .users-content .users-item .left-block button {
        background: #efff00;
        margin: 10px 0 0;
        width: 100%;
        text-align: center;
        color: #b30000;
        text-transform: uppercase;
        font-weight: 600;
        border: 2px solid;
        cursor: pointer; }
    .users-content .users-item .right-block {
      background: white;
      border: 1px solid #b30000;
      border-radius: 5px;
      margin-left: 20px;
      width: 100%; }

/*# sourceMappingURL=main.css.map */
